* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #ffffffde;
  background-color: #1d424b;


  --text: #ebebeb;
  --pink: #ffa3bf;
  --blue: #76c3f0;
  --violet: #a29bfe;
  --yellow: #ffeaa7;
  --green: #b7eab5;
  --bg-input: #81d1ff;
  --moonSun: #ffd427;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

#app {
  width: 80rem;
  height: 100%;
  text-align: center;
  border: 2px solid;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
